<<<<<<< HEAD
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>La Dolça</title>
    <link rel="stylesheet" href="../public/styles.css" />
  </head>
  <body>
    <header>
      <img src="../public/logo_laDolca.png" alt="logo" />
      <h1>Pastisseria La Dolça</h1>
    </header>
    <body>
      <ul class="menu">
        <li>
            <img src="../public/cakes.jpg" alt="pastissos">
            <a href="/pastissos">Veure pastissos</a>
        </li>
        <li>
            <img src="../public/cookies.jpg" alt="galetes">
            <a href="/galetes">Veure galetes</a>
        </li>
        <li>
            <img src="../public/torrons.png" alt="torrons">
            <a href="/torrons">Veure torrons</a>
        </li>
      </ul>
    </body>
  </body>
</html>
=======
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>La Dolça</title>
    <link rel="stylesheet" href="/home.css" />
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <header>
      <nav class="navbar">
        <div class="logo-header">
          <img src="/logo_laDolca.png" alt="logo" />
          <h1>Pastisseria La Dolça</h1>
        </div>

        <button id="logout" class="btn">Cerrar sesión</button>
      </nav>
    </header>
    <body>
      <div class="content">
        <h1>Benvingut a La Dolça</h1>
        <p>La millor pastisseria de la ciutat!</p>
        <div class="grid">
          <div class="card">
            <a href="/pastissos">
              <img src="/cakes.jpg" alt="pastissos" />
            </a>
          </div>
          <div class="card secondary">
            <a href="/galetes">
              <img src="/cookies.jpg" alt="galetes" />
            </a>
          </div>
          <div class="card">
            <a href="/torrons">
              <img src="/torrons.png" alt="torrons" />
            </a>
          </div>
        </div>
      </div>
    </body>
  </body>

  <script>
    const logoutButton = document.getElementById("logout");

    logoutButton?.addEventListener("click", (e) => {
      e.preventDefault();
      fetch("/api/auth/logout", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
      }).then((res) => {
        window.location.href = "/";
      });
    });
  </script>
</html>
>>>>>>> c87b790 (feat: Implement server setup with Express, JWT authentication, and cookie parsing)
